<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JonKimbel/CatFeeder</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
  <div class="w3-black w3-xlarge" id="tour">
    <div class="w3-white w3-container w3-content w3-padding-64" style="max-width:800px">
      <h1>JonKimbel/CatFeeder</h1>

      <div class="w3-red w3-padding" style="display: {{check_in_warning_display}}">
        <p>WARNING: feeder has not checked in with the server recently! Is it plugged in? What color is the LED?</p>
        <p>Last check in was at {{check_in_warning_time}}</p>
        <ul class="w3-ul w3-border w3-black">
          <li class="w3-text-red">Red - trying to connect to the backend
          <li class="w3-text-orange">Orange - building and encoding request
          <li class="w3-text-yellow">Yellow - sending request
          <li class="w3-text-green">Green - receiving response
          <li class="w3-text-blue">Blue - reading response
          <li class="w3-text-purple">Purple - backend check-in complete
        </ul>
        <p></p>
      </div>

      <div class="w3-black w3-padding w3-border">
        Next feeding time: {{next_feeding}}
      </div>

      <div class="w3-black w3-padding w3-border" style="display: {{recent_feedings_display}}">
        Recent feedings:<br>
        {{recent_feedings}}
      </div>

      <form action="/" method="post" enctype="text/plain" class="w3-padding w3-black">
        Update feeding schedule:<br>

        <!-- TODO [V2]: add a "feed now" button. Override the next feeding time when the user taps "feed now", clear
             this override once the photon has fed. -->

        <input type="radio" class="w3-radio" name="feed_schedule" value="mornings"
            {{feed_schedule_mornings}}>
        <span class="w3-text-cyan">Auto-feed half the calories</span><br>

        <input type="radio" class="w3-radio" name="feed_schedule" value="mornings_and_evenings"
            {{feed_schedule_mornings_and_evenings}}>
        <span class="w3-text-cyan">Auto-feed all the calories</span><br>

        <input type="radio" class="w3-radio" name="feed_schedule" value="never"
               {{feed_schedule_never}}>
        <span class="w3-text-cyan">Never auto-feed</span><br>

        <br>

        <span class="w3-text-cyan">Number of scoops per feeding: </span>
        <input type="number" class="w3-input" name="number_of_scoops_per_feeding" min="1"
            value="{{number_of_scoops_per_feeding}}">

        <br>

        <input class="w3-button w3-white w3-hover-cyan" type="submit" value="Submit">
      </form>

      <form action="/feednow" method="post" enctype="text/plain" class="w3-padding w3-black">
        <input class="w3-button w3-white w3-hover-cyan" type="submit" value="Feed Now">
      </form>
    </div>
  </div>
</body>
</html>
