<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JonKimbel/CatFeeder</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
  <div class="w3-black w3-xlarge" id="tour">
    <div class="w3-white w3-container w3-content w3-padding-64" style="max-width:800px">
      <h1>JonKimbel/CatFeeder</h1>

      <form action="/login" method="post" enctype="text/plain" class="w3-padding w3-black">
        <span class="w3-text-cyan">Passcode: </span>
        <input type="text" class="w3-input" name="passcode">

        <br>

        <input class="w3-button w3-white w3-hover-cyan" type="submit" value="Log in">
      </form>
    </div>
  </div>
</body>
</html>
